apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: canva
  name: canva
spec:
  replicas: 1
  selector:
    matchLabels:
      app: canva
  template:
    metadata:
      labels:
        app: canva
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '50051'
        prometheus.io/path: '/metrics'
    spec:
      containers:
        - image: faemeister/nest-todo_canva
          name: nest-todo-canva
          ports:
            - containerPort: 50051
          envFrom:
            - secretRef:
                name: databaseurl
          env:
            - name: 'CANVA_SERVICE_HOST'
              value: '0.0.0.0'
            - name: 'CANVA_SERVICE_PORT'
              value: '50051'
            - name: 'CANVA_SERVICE_HTTP_PORT'
              value: '3000'
